<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quick Make</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 100px;
        }
        button {
            margin: 10px;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
        }
        a{
            text-decoration: none;
        }
    </style>
</head>
<body>
    <h1>Welcome to Quick Make</h1>
    <button><a href="v2/upload_pruposal/summarize-page">Pruposal Summarized</a></button>
    <button><a href ="v1/module/ai-powered">Module Making</a></button>
</body>
</html>
